@charset "UTF-8";
body{
	background-color: blue;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container{
	background-color: yellow;
	height: 80%;
	width: 80%;
	
	
}

.imagem-forca{
	background-color: white;
}

.palavra{
	background-color: red;
}

.dica{
	background-color: green;
}

.teclado{
	background-color: pink;
}